.transactions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  .transaction_table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .transaction_headcol,
  .transaction_col {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  .transaction_headcol {
    background-color: rgb(117, 201, 250);
  }
  
  .transaction_col {
    background-color: rgb(205, 235, 253);
  }
  .tran_message{
    font-size: 2rem;
    margin: 30px;
    left: 30rem;
    position: absolute;
    padding-bottom: 27px;
  }